/*

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*/

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    min-width: 100%;
    color: #1a1a1a;
    background-color: #f1f1f1;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;

    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;

    font-weight: lighter;
}
header img {
    width: 30px;
    border-radius: 50%;
}
header div {
    margin-left: 20px;
    font-size: 18px;
}
header nav {
    position: absolute;
    right: 20px;
    font-size: 12px;
}
header nav a {
    text-decoration: none;
    color: #f1f1f1;
    margin-left: 20px;
}
footer {
    background-color: #333;
    color: #f1f1f1;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer a {
    text-decoration: none;
    color: #f1f1f1;
    margin-left: 20px;
    font-size: 12px;
}
main {
    margin-top: 60px;
    padding: 30px;
}


#resultado {
    display: flex;
    flex-wrap: wrap;
    margin-top:60px;
}

.weather{
    margin: 10px;
    padding: 10px;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    background-color: white;
    height: 150px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: bold;
}

.min{
   color:blue;
}

.max{
    color:red;
}

#0{
    background-image: (url"./images.sun.png");
    width:100px;
    height:100px;
}

#1{
    background-image: (url "./images.clouds.png");
    width:100px;
    height:100px;
}

#2{
    background-image: (url "./images.rain.png");
    width:100px;
    height:100px;
}

#3{
    background-image: (url "./images.snow.png");
    width:100px;
    height:100px;
}

#4{
    background-image: (url "./images.thunderstorm.png");
    width:100px;
    height:100px;
}

